absl-py
annotated-types
anyio
attrs
certifi
cffi
contourpy
cycler
dnspython
email_validator
etils
flatbuffers
fonttools
fsspec
future
gevent
glfw
greenlet
h11
httpcore
httpx
idna
importlib_resources
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml_dtypes
msgpack
mujoco
network_as_code
numpy
opencv-contrib-python
opt_einsum
packaging
pillow
protobuf
pycparser
pydantic
pydantic_core
PyOpenGL
pyparsing
python-dateutil
pyzmq
scipy
setuptools
six
sniffio
sounddevice
typing_extensions
wheel
zerorpc
zipp
zope.event
zope.interface
